.top-container {
  height: 64px;
  background:#001529;
  margin: 0;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.top-container h6 {
  color: #fff;
}